<h3>Books Index</h3>

<% _(books.page(books.currentPage)).each(function (book) { %>
  <a href = "#books/<%= book.escape('id')%>"><%= book.escape('title') %></a><br>
<% }); %>

<% if (books.currentPage > 1) { %>
  <a href="<%=path%><%=books.prevPage()%>">Prev</a>
<% }; %>

<% for (var  i = 1; i <= books.totalPages; i++) { %>
    <a href="<%=path%><%=i%>"><%=i%></a>
<% } %>

<% if (books.currentPage < books.totalPages) { %>
    <a href="<%=path%><%=books.nextPage()%>">Next</a>
<% }; %>


