<h3>Books Index</h3>

<% books.each(function (book) { %>
  <a href = "#books/<%= book.escape('id')%>"><%= book.escape('title') %></a><br>
<% }); %>

<% if (books.currentPage > 1) { %>
  <a href="<%=books.pagePath()%><%=books.prevPage()%>">Prev</a>
<% }; %>

<% if (books.currentPage < books.totalPages) { %>
    <a href="<%=books.pagePath()%><%=books.nextPage()%>">Next</a>
<% }; %>


