<h3><%= header %></h3>

<% books.each(function (book) { %>
  <a href = "#books/<%= book.escape('id')%>"><%= book.escape('title') %></a><br>
<% }); %><br>

<% if (books.currentPage > 1) { %>
  <a href="<%=books.pagePath()%><%=books.prevPage()%>">&lt;</a>
<% }; %>

<<<<<<< HEAD
<% for (var i = 1; i <= books.totalPages; i++) { %>
=======
<% for (var i = 1; i < books.totalPages; i++) { %>
>>>>>>> 32e9b84cffd3f9bc4407859472b9c397ca082c60
  <a href="<%=books.pagePath() + i%>"><%= i %></a>
<% }; %>

<% if (books.currentPage < books.totalPages) { %>
    <a href="<%=books.pagePath()%><%=books.nextPage()%>">&gt;</a>
<% }; %>


