<h3><%= header %></h3>

<% books.each(function (book) { %>
  <a href = "#books/<%= book.escape('id')%>"><%= book.escape('title') %></a><br>
<% }); %><br>

<% console.log(books.currentPage) %>
<%= console.log(window.location) %>
<% if (books.currentPage > 1) { %>
  <a href="<%=books.pagePath()%><%=books.prevPage()%>">&lt; prev</a>
<% }; %>

<% if (books.currentPage < books.totalPages) { %>
    <a href="<%=books.pagePath()%><%=books.nextPage()%>">next &gt;</a>
<% }; %>

