<img src="http://covers.openlibrary.org/b/OLID/<%=book.get('open_library_id')%>-M.jpg">
<h2><%= book.escape('title') %></h2>
by <%= book.escape('author') %>
<%= book.escape('genre') %>

<%= JST['ratings/show']({book: book}) %>

<% console.log(book) %>
<form id="new-review">
  <input type="submit" value="Write a review">
</form>

<div class="reviews">
  <h4>Reviews</h4>
  <%= JST['reviews/index']({book: book}) %>
</div>

