<img src="http://covers.openlibrary.org/b/OLID/<%=book.get('open_library_id')%>-M.jpg">
<h2><%= book.escape('title') %></h2>
by <%= book.escape('author') %><br>
Genre: <%= book.escape('genre') %><br>

Your rating:
<div id="currentRating"></div>
<div id="average-rating">
  Average rating: <%= book.get('average_rating') %>
</div>

<form id="new-review-button">
  <input type="submit" value="Write a review">
</form>
<div id="new-review-form"></div>

<form id="want-to-read">
	<input type="submit" value="Want to read">
</form>

<div id="reviews">

</div>

