<img src="http://covers.openlibrary.org/b/OLID/<%=book.get('open_library_id')%>-M.jpg">
<h2><%= book.escape('title') %></h2>
by <%= book.escape('author') %><br>
Genre: <%= book.escape('genre') %><br>

Your rating:
<div class="currentRating"></div>
<div class="average-rating">
  Average rating: <%= book.get('average_rating') %>
</div>

<div class="reviews">

</div>

