	<div id="review" style="display: block; border-color: green;">
		<h5><%= review.escape('title')%></h5>
		by <%= review.get('user').escape('username')%>
		<span id="review-rating"></span>
		<%= review.escape('body') %>
	</div>

	<% if (review.get('user').id === Goodreadsclone.Store.currentUser.id) { %>
		<form id="updateReview" style="display: none">

			<input type="text" name="review[title]" value="<%= review.escape('title')%>" id="review_title">
			<span id="review-rating"></span>
			<textarea name="review[body]"><%=review.escape('body')%></textarea>

			<input type="submit" value="Finished Editing">
		</form>

		<form id="editReview" style="display: inline-block">
			<input type="submit" value="Edit">
		</form>
	<% } %>