<h3><%= shelfName %></h3>
<table>
	<th>Cover</th>
	<th>Title</th>
	<th>Author</th>
	<th>Avg. Rating</th>
	<th>Rating</th>
	<th>Remove</th>

	<% reviews.each( function (review) { %>
		<% var book = review.get('reviewed_book') %>
		<tr id="book<%= book.escape('id') %>">
			<td>
				<img src="http://covers.openlibrary.org/b/OLID/<%=book.get('open_library_id')%>-S.jpg">
			</td>
			<td>
				<a href="#books/<%=book.get('id')%>"><%= book.get('title')%></a>
			</td>
			<td><%= book.get('author')%></td>
			<td><%= book.get('average_rating')%></td>
			<td id="rating"></td>
			<td id="remove-book">&#x2716;</td><!-- multiplication x -->
		</tr>
	<% })%>
</table>