<!DOCTYPE html>
<html>
<head>
  <title>Goodreadsclone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
		<%= error %><br>
		<% end %>
	<% end %>

<%= yield %>

<% if logged_in? %>
	<div class="logout">
		<form action="<%=session_url%>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">

			<input type="submit" value="Log out <%= current_user.username %>">
		</form>
	</div>
<% end %>
</body>
</html>
