<!DOCTYPE html>
<html>
<head>
  <title>OkayReads</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% javascript_include_tag "vendor/custom.modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/topbar" %>
	<div class="row">
		<div class="large-5 large-centered columns">
			<% if flash[:errors] %>
				<% flash[:errors].each do |error| %>
				<span class="round alert label"><%= error %></span>
				<% end %>
			<% end %>
		</div>
	</div>

<%= yield %>
</body>
</html>
